<section class="">
  <div class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between">
    <div class="flex flex-col justify-center p-6 text-center rounded-sm xl:max-w-4xl lg:text-left">
      <h1 class="text-5xl text-primary font-bold leading-none sm:text-6xl">
        Empowering Citizens, Enhancing Services
      </h1>
      <p class="mt-6 mb-8 text-lg font-medium sm:mb-12">Access essential public services, share your feedback, and stay informed with our comprehensive and user-friendly platform designed to serve the needs of every citizen.
      </p>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
          </svg>
          <h2 class="text-xl font-semibold mb-2">Explore Services</h2>
          <p class="mb-4">Discover and access a wide range of public services.</p>
          <button (click)="goToServices()" class="bg-black text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-300">Learn More</button>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
          </svg>
          <h2 class="text-xl font-semibold mb-2">Submit Feedback</h2>
          <p class="mb-4">Share your thoughts and help us improve our services.</p>
          <button (click)="goToFeedback()" class="bg-black text-white px-4 py-2 rounded hover:bg-green-600 transition duration-300">Give Feedback</button>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
          </svg>
          <h2 class="text-xl font-semibold mb-2">Get Notifications</h2>
          <p class="text-gray-600 mb-4">Stay informed about important updates and announcements.</p>
          <button (click)="goToSubscription()" class="bg-black text-white px-4 py-2 rounded hover:bg-purple-600 transition duration-300">Subscribe</button>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
      <img src="../../../../assets/images/logo.png" alt="" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
    </div>
  </div>
</section>
