<div class="my-10 p-3">
  <a class="flex items-center gap-5 mb-10" routerLink="/">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
    </svg>
    <h1 class="text-3xl font-bold text-gray-800">Go Back Home</h1>
  </a>
  <label class="input input-bordered flex items-center gap-2">
    <input type="text" class="grow" placeholder="Search" />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="h-4 w-4 opacity-70">
      <path
        fill-rule="evenodd"
        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
        clip-rule="evenodd" />
    </svg>
  </label>

  <div class="grid grid-cols-3 gap-6 py-10 ">

    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300 flex items-center justify-between gap-5">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
      </svg>
      <div>
      <h2 class="text-xl font-semibold mb-2">Submit Feedback</h2>
      <p class="mb-4">Share your thoughts and help us improve our services.</p>
      <button (click)="goToService()" class="bg-black text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-300">Give Feedback</button>
      </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300 flex items-center justify-between gap-5">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
      </svg>
      <div>
        <h2 class="text-xl font-semibold mb-2">Submit Feedback</h2>
        <p class="mb-4">Share your thoughts and help us improve our services.</p>
        <button (click)="goToService()" class="bg-black text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-300">Give Feedback</button>
      </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300 flex items-center justify-between gap-5">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
      </svg>
      <div>
        <h2 class="text-xl font-semibold mb-2">Submit Feedback</h2>
        <p class="mb-4">Share your thoughts and help us improve our services.</p>
        <button (click)="goToService()" class="bg-black text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-300">Give Feedback</button>
      </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300 flex items-center justify-between gap-5">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
      </svg>
      <div>
        <h2 class="text-xl font-semibold mb-2">Submit Feedback</h2>
        <p class="mb-4">Share your thoughts and help us improve our services.</p>
        <button (click)="goToService()" class="bg-black text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-300">Give Feedback</button>
      </div>
    </div>

  </div>

  <div class="flex justify-center mt-5">
    <div class="join">
      <button class="join-item btn">1</button>
      <button class="join-item btn">2</button>
      <button class="join-item btn btn-disabled">...</button>
      <button class="join-item btn">99</button>
      <button class="join-item btn">100</button>
    </div>
  </div>

</div>
